---
import Container from 'shared/_components/container/index.astro'
import Logo from 'shared/_components/logo/index.astro'
---

<footer class="footer">
	<hr />
	<Container class="footer__container">
		<Logo style={`width:64px`} />
		<p>This site was Built with <strong>Astro + Jails</strong></p>
		<p>Released under the <strong>MIT License</strong></p>
	</Container>

</footer>

<style lang="styl">

	.footer
		margin-top 50px
		padding 50px 0 30px
		color $color-white
		text-align center

		hr
			border none
			border-top 1px solid #ededed
			max-width 80%
			margin 50px auto

		p
			margin 5px 0
			font-size 14px

</style>
