---
import Container from 'shared/_components/container/index.astro'
---

<footer class="footer">
	<Container class="footer__container">
		<img src="//jails-org.github.io/images/logo.svg" alt="Jails Logo" />
		<p>Released under the <strong>MIT License</strong></p>
		<p>This site was Built with <strong>Astro + Jails</strong></p>
		<p>Copyright © 2014- 2023 <em>Eduardo Ottaviani</em></p>
	</Container>
</footer>

<style lang="styl">

	.footer
		background-color #0F2027
		padding 50px 0
		color $color-white
		text-align center

		p
			margin 5px 0
			font-size 14px

</style>
