---
import Container from 'shared/_components/container/index.astro'
import Iframe from 'shared/_components/iframe/index.astro'
---


<section class="example" id="example">
	<div class="example__container">
		<h2 class="example__title">TODOMVC Example</h2>
		<p><strong>Jails</strong>: <strong style="color:green">~153</strong> lines of code</p>
		<p><strong>Vanilla Javascript</strong>: <strong style="color:red">~937</strong> lines of code</p>
		<br />
		<br />
	</div>
	<Container>
		<Iframe src="https://stackblitz.com/edit/jails-todomvc?embed=1&file=index.html,todo-app.ts"  />
		<em>This example is an implementation of <a href="http://todomvc.com" target="_blank">todomvc.com</a></em>
	</Container>
</section>

<style lang="styl">

	.example
		text-align center
		color #0f172a

		&__container
			padding-top 40px
			width 90%
			margin 0 auto

		em
			display block
			padding 10px

		&__title
			font-size 35px
			padding 30px 0

		h3
			margin-bottom 10px
			font-size 20px

		iframe
			border none
			width 100%
			height 500px
			background url(https://eduardoottaviani.com.br/images/pulse-loading.svg) no-repeat center top

</style>
