---
import Container from 'shared/_components/container/index.astro'
import Iframe from 'shared/_components/iframe/index.astro'
---


<section class="example" id="example">
	<Container>
		<h2 class="example__title" data-title>Todo MVC Example</h2>
		<Iframe src="https://stackblitz.com/edit/jails-todomvc?embed=1&file=todo-app.ts"  />
	</Container>
</section>

<style lang="styl">

	.example
		text-align center
		padding 80px 0

		&__title
			margin-bottom 40px
			font-size 35px

		iframe
			border none
			width 100%
			height 500px
			background url(https://eduardoottaviani.com.br/images/pulse-loading.svg) no-repeat center top

</style>
