---
import Container from 'shared/_components/container/index.astro'
import Header from 'shared/_components/header/index.astro'
---

<section class="hero">
	<Header />
	<Container class="hero__container">
		<div class="hero__call">
			<h2 class="hero__title">
				Jails.js
			</h2>
			<h3 class="hero__subtitle">
				An Elegant and Minimalistic <br />
				Javascript Application Library
			</h3>
		</div>
		<div class="hero__quote">
			<div class="hero__version">
				<img src="/images/athena.png" class="hero__mascot" alt="Athena Mascot" width="100" />
				<p>Release Name: <strong>Athena</strong></p>
				<img src="https://badge.fury.io/js/jails-js.svg?v5.5.2" alt="NPM Jails Version" />
				<img src="https://img.shields.io/badge/License-MIT-yellow.svg" alt="MIT License" />
			</div>
			<blockquote>
				<p class="font-styled">“Simplicity is the ultimate sophistication”</p>
				<cite title="Source Title">— Leonardo Da Vinci</cite>
			</blockquote>

		</div>

	</Container>
</section>

<style lang="styl">

	.hero
		background #1CB5E0;  /* fallback for old browsers */
		background -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
		background linear-gradient(to left, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		box-shadow rgba(0, 0, 0, 0.35) 0px 5px 15px

		&__container
			padding 100px 0
			*
				color $color-white

			+above('tablet')
				display flex
				align-items center
				justify-content space-between


		&__version
			text-align center
			font-family Arial
			p
				font-size 11px

		&__mascot
			display block
			margin 0 auto

		&__title
			font-size 70px
			+below('mobile')
				text-align center


		&__subtitle
			font-size 28px
			margin-bottom 10px
			+below('mobile')
				margin 0 auto
				text-align center

		blockquote

			+below('tablet')
				text-align center
			+above('tablet')
				text-align right

			p
				font-size 25px
				font-weight 300
			cite
				font-size 12px
				//

		hr
			border-bottom 1px solid yellow
			display block
			width 100%

</style>
