---
import Container from 'shared/_components/container/index.astro'
import Logo from 'shared/_components/logo/index.astro'
---

<section class="hero">
	<Container class="hero__container">
		<div class="hero__call">
			<h2 class="hero__title">
				<Logo style={`width:100%; `} />
			</h2>
			<h3 class="hero__subtitle">
				An Elegant and Minimalistic <br />
				Javascript Application Library
			</h3>
		</div>
		<blockquote class="hero__quote">
			<p>“Simplicity is the ultimate sophistication”</p>
			<cite title="Source Title">— Leonardo Da Vinci</cite>
		</blockquote>
	</Container>
</section>

<style lang="styl">

	.hero
		display flex
		color $color-white
		min-height 100vh
		align-items center

		&__call
			text-align center

		&__title
			width 150px
			margin 30px auto

		.logo
			border 10px solid magenta

		&__subtitle
			font-size 50px
			margin 0 0 20px
			+below('mobile')
				font-size 35px

		&__quote
			text-align center
			p
				font-size 20px
				font-style italic
				font-weight 300
			cite
				color #868e96
		hr
			border-bottom 1px solid yellow
			display block
			width 100%

</style>
