---
import Container from 'shared/_components/container/index.astro'
import Header from 'shared/_components/header/index.astro'
import Logo from 'shared/_components/logo/index.astro'
---

<section class="hero">
	<Header />
	<Container class="hero__container">
		<div class="hero__call">
			<Logo style=" width: 150px; margin-right: 10px" />
			<h2 class="hero__title">Jails.js</h2>
			<h3 class="hero__subtitle">
				An Elegant and Minimalistic <br />
				Javascript Application Library
			</h3>
			<blockquote>
				<p class="font-styled">“Simplicity is the ultimate sophistication”</p>
				<cite title="Source Title">— Leonardo Da Vinci</cite>
			</blockquote>
		</div>
		<div class="arrow-down">❯</div>
	</Container>
</section>

<style lang="styl">

	.hero
		min-height 100vh
		display flex
		align-items center

		.arrow-down
			position absolute
			bottom 10px
			left 0
			transform rotate(90deg)
			width 50px
			height 50px
			font-size 20px
			text-align center
			width 100%
			display none
			+above('tablet')
				display block


		&__call
			text-align center

		&__version
			text-align center
			font-family Arial
			p
				font-size 11px

		&__mascot
			display block
			margin 0 auto

		&__title
			font-size 70px
			+below('mobile')
				text-align center


		&__subtitle
			font-size 36px
			margin-bottom 10px
			+below('mobile')
				margin 0 auto
				text-align center

		blockquote

			p
				font-size 20px
				font-weight 300
			cite
				font-size 12px
				//

		hr
			border-bottom 1px solid yellow
			display block
			width 100%

</style>
