---
import Container from 'shared/_components/container/index.astro'
import Button from 'shared/_components/button/index.astro'
---

<section class="hero">
	<Container class="hero__container">
		<div class="hero__call">
			<h2 class="hero__title">
				<img class="hero__logo" src="//jails-org.github.io/images/logo.svg" alt="Jails Logo" />
				<span class="hero__title-text">Jails</span>
			</h2>
			<h3 class="hero__subtitle">
				Elegant and Minimalistic
				Javascript Application Library
			</h3>
			<Button href="https://jails-org.github.io" target="_blank">Getting Started</Button>
		</div>
		<blockquote class="hero__quote">
			<p>“Simplicity is the ultimate sophistication”</p>
			<cite title="Source Title">— Leonardo Da Vinci</cite>
		</blockquote>
	</Container>
</section>

<style lang="styl">

	.hero
		padding 100px 0 60px
		color $color-white
		background: #141E30;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		&__container
			+above('tablet')
				display flex
				align-items center
				justify-content space-between

		&__call
			flex .4
			+below('tablet')
				text-align center

		&__quote
			flex .3
			text-align right
			+below('mobile')
				display none

		&__logo
			width 110px
			height 110px
			text-align center

		&__title
			font-size 65px
			font-weight 300

			+above('tablet')
				display flex
				align-items baseline

			img
				+below('mobile')
					display block
					margin 0 auto 10px


		&__subtitle
			font-size 30px
			margin 10px 0 30px

		&__quote
			p
				font-size 30px
				font-style italic
				font-weight 300
			cite
				color #868e96

</style>
