---
import Container from 'shared/_components/container/index.astro'
---

<script>
	import { register, dependencies } from 'shared/main'
	import * as header from './index'
	register('x-header', header, dependencies)
</script>

<x-header class="header" html-class="fixed?'fixed':''">
	<Container class="header__container">
		<h1 class="header__logo">
			<span class="header__logo-text">Jails.js</span>
		</h1>
		<nav class="header__menu">
			<a href="https://jails-org.github.io/" target="_blank">Documentation</a>
			<a href="https://stackblitz.com/@Javiani/collections/jails-organization" target="_blank">Examples</a>
			<a href="https://github.com/jails-org/Jails" target="_blank">Github</a>
			<a href="https://github.com/jails-org/Jails/discussions" target="_blank">Discussions</a>
		</nav>
	</Container>
</x-header>

<style lang="styl">
	.header
		position fixed
		top 0
		left 0
		width 100%
		background-color #0f172a

		&__container
			position relative
			display flex
			align-items center

		&__logo
			width 64px
			height 64px
			display flex
			&-text
				color $color-white
				padding 5px 20px

		&__menu
			display flex
			text-transform uppercase
			transition padding .3s

			+below('desktop')
				justify-content space-around
				width 100%
			+above('desktop')
				margin-left auto

			a
				color $color-white
				+above('desktop')
					margin-left 30px
				+below('mobile')
					font-size 11px

</style>
