---
import Container from 'shared/_components/container/index.astro'
---

<script>
	import { register, dependencies } from 'shared/main'
	import * as header from './index'
	register('x-header', header, dependencies)
</script>

<x-header class="header" html-class="{fixed?'fixed':''}">
	<Container class="header__container">
		<img class="header__logo" src="//jails-org.github.io/images/logo.svg" alt="Jails Logo" />
		<nav class="header__menu">
			<a href="https://jails-org.github.io/" target="_blank">Documentation</a>
			<a href="https://stackblitz.com/@Javiani/collections/jails-organization" target="_blank">Examples</a>
			<a href="https://github.com/jails-org/Jails" target="_blank">Github</a>
			<a href="https://github.com/jails-org/Jails/discussions" target="_blank">Discussions</a>
		</nav>
	</Container>
</x-header>

<style lang="styl">

	.header
		position fixed
		top 0
		left 0
		width 100%
		background $color-white
		box-shadow rgba(149, 157, 165, 0.2) 0px 8px 24px

		&.fixed
			.header__logo
				opacity 1
				transform: rotate(0)

			.header__menu
				padding-left 30px

		&__container
			position relative
			padding-top 18px
			padding-bottom 18px
			display flex
			align-items center

		&__logo
			width 44px
			height 44px
			position absolute
			left 5px
			top 5px
			opacity 0
			transform rotate(45deg)
			transition opacity .3s, transform .5s

		&__menu
			display flex
			text-transform uppercase
			transition padding .3s

			+below('desktop')
				justify-content space-around
				width 100%
			+above('desktop')
				margin-left auto

			a
				color $color-black
				+above('desktop')
					margin-left 30px
				+below('mobile')
					font-size 11px

</style>
