---
import Container from 'shared/_components/container/index.astro'
---

<script>
	import { register, dependencies } from 'shared/main'
	import * as header from './index'
	register('x-header', header, dependencies)
</script>

<x-header class="header" html-class="fixed?'fixed':''">
	<Container class="header__container">

		<nav class="header__menu">
			<a href="https://jails-org.github.io/" target="_blank">Documentation</a>
			<a href="https://stackblitz.com/@Javiani/collections/jails-organization" target="_blank">Playground</a>
			<a href="https://github.com/jails-org/Jails" target="_blank">Github</a>
			<a href="https://github.com/jails-org/Jails/discussions" target="_blank">Discussions</a>
		</nav>
	</Container>
</x-header>

<style lang="styl">
	.header
		display block
		padding 15px 0

		&__container
			align-items center
			+above('tablet')
				display flex

		&__logo
			margin-bottom 10px

		&__menu
			display flex
			justify-content space-between
			text-transform uppercase
			margin-left auto
			flex-wrap wrap

			+below('tablet')
				gap 5px
			+above('tablet')
				gap 30px

			a
				text-decoration none

				color $color-white
				font-size 14px

</style>
