---
import Layout   	from 'layouts/default.astro'
import Hero 		from './_components/hero/index.astro'
import Features 	from './_components/features/index.astro'
import Example  	from './_components/example/index.astro'
---

<Layout>

	<main class="home">
		<Hero />
		<Features />
		<Example />
    </main>

	<style lang="styl" is:global>
		//
	</style>

</Layout>
