
html
	font-family 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
	line-height 1.4
	font-smoothing antialiased
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

h1, h2, h3, h4, h5, h6,
a,
p
	color #333

h1, h2, h3, h4, h5, h6
	font-weight 300


p
	font-size 18px
