
html
	font-family 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
	color #34495e
	line-height 1.5
	font-smoothing antialiased
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale


h1, h2, h3, h4, h5, h6
	font-weight 300

a
	text-decoration none

p
	font-size 18px
