---
import Container from 'shared/_components/container/index.astro'
---

<section class="fundamentals">
	<Container class="fundamentals__container">
		<h3>A New Perspective</h3>
		<p>
			The ever-evolving Javascript ecosystem, browsers, and tooling have witnessed remarkable progress over the years. However, it's high time we reconsider the current state of front-end development. We firmly believe that many of the complexities introduced by frameworks today are simply unnecessary for the majority of web applications we see today.
		</p>
	</Container>
</section>

<style lang="styl">

	.fundamentals
		padding 80px 0 0
		text-align center

		h3
			font-size 35px
			font-weight 300

		p
			margin 15px 0
</style>
