---
import Container from 'shared/_components/container/index.astro'
---

<section class="fundamentals">
	<Container class="fundamentals__container">
		<h3>Rethiking the Front End current state</h3>
		<p>
			The Javascript ecossystem, browsers and tooling has evolved through these years and we believe that most of the complexities
			that frameworks bring to us today are not necessary for most of the Web Applications we have today. The actual state of modern apps are forcing the Javascript Developer
			to be an expert on frameworks instead of the language and locking us in the framework ecossystem.
		</p>
	</Container>
</section>

<style lang="styl">

	.fundamentals
		padding 80px 0 0

		h3
			font-size 35px
			font-weight 300
			text-align center

		p
			margin 15px 0
</style>
