---

---

<footer class="p-10 text-center bg-neutral-50 mb-12 md:mb-0 font-light text-sm text-gray-500 space-y-2 ">
	<div class="text-center flex align-center justify-center space-x-2">
		<img data-src="https://badge.fury.io/js/jails-js.svg?id=2" alt="NPM Jails Version" />
		<img data-src="https://img.shields.io/badge/License-MIT-yellow.svg" alt="MIT License" />
	</div>
	<p class="text-xs">Copyright © 2013-2024 <br />Eduardo Ottaviani</p>
</footer>