---
import Container from 'shared/_components/container/index.astro'
---

<ul class="md:my-24">
	<li class="text-center md:text-left">
		<Container class="md:flex space-y-20 justify-between items-end gap-10">
			<section>
				<span class="text-[orange] text-6xl font-thin block">ƛ</span>
				<h2 class="text-3xl font-regular mt-5">Function Oriented</h2>
				<p class="font-light text-md text-gray-500 my-5">
					Functional, but in the Javascript way.<br />
					Use the best of the Javascript Functional Features.
				</p>
			</section>
			<section>
				<span class="text-[orange] text-6xl font-thin block">🏝</span>
				<h2 class="text-3xl font-regular mt-5">Island Architecture</h2>
				<p class="font-light text-md text-gray-500 my-5">
					Build your components logic for a specific part of your app.<br /> Less code, less bundle.
				</p>
			</section>
			<section>
				<img class="w-14 inline-block" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/600px-JavaScript-logo.png" alt="Javascript Logo" />
				<h2 class="text-3xl font-regular mt-5">Ecossystem Compatible</h2>
				<p class="font-light text-md text-gray-500 my-5">
					Integrate your Application with any other <br />
					Javascript Library easily.
				</p>
			</section>
		</Container>
	</li>
</ul>