---
import Container from 'shared/_components/container/index.astro'
---

<section class="features">

	<Container class="features__container" wide>

		<ul class="features__list">
			<li>
				<div class="features__content">
					<div class="col-center">
						<span class="features__icon">♻️</span>
						<h3>Web Ecossystem Compatible</h3>
						<p>Integrate your Application with any other Javascript Library easily.</p>
						<p><strong>Compatible with any static site generators and server-side applications</p></strong></p>
						<ul class="features__ecossystem">
							<li>
								<img src="https://astro.build/assets/press/astro-logo-dark.svg" alt="Astro" />
							</li>
							<li>
								<img src="https://blog.geekhunter.com.br/wp-content/uploads/2021/07/framework-laravel.png" alt="Laravel" />
							</li>
							<li>
								<img src="https://s.w.org/style/images/about/WordPress-logotype-alternative.png" />
							</li>
							<li>
								<img src="https://cdn.icon-icons.com/icons2/2699/PNG/512/parceljs_logo_icon_170871.png" />
							</li>
							<li>
								<img src="https://www.ibm.com/content/dam/adobe-cms/instana/media_logo/dotnetCore.png/_jcr_content/renditions/cq5dam.web.1280.1280.png" />
							</li>
							<li>
								<img src="https://cdn.icon-icons.com/icons2/2699/PNG/512/pugjs_logo_icon_168890.png" />
							</li>
							<li>
								<img src="https://download.logo.wine/logo/Ruby_on_Rails/Ruby_on_Rails-Logo.wine.png" />
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li>
				<div class="features__content">
					<div class="col-md">
						<span class="features__icon">ƛ</span>
						<h2>Functional Oriented</h2>
						<h3>Functional oriented, but in the Javascript way.</h3>
						<p>Use the best of the Javascript language functional features.</p>
					</div>
					<div class="col-lg">
						<img class="code-example" src="/images/fn-example.png" alt="Functional code example" />
					</div>
				</div>
			</li>
			<li>
				<div class="features__content">
					<div class="col-lg">
						<img class="code-example" style="max-width:100%" src="/images/islands-architecture.png" alt="Island Architecture Diagram" />
					</div>
					<div class="col-md">
						<span class="features__icon">🏝</span>
						<h2>Island Architecture</h2>
						<h3>Lightweight Applications</h3>
						<p>Build your components logic for a specific part of your app. Less code, less bundle.</p>
					</div>
				</div>
			</li>
		</ul>
	</Container>
</section>

<style lang="styl">

	.features
		//

		+below('mobile')
			img
				max-width 100%

		&__content
			display flex
			justify-content space-between
			align-items center
			max-width 1024px
			margin 0 auto

			+below('mobile')
				display block
				padding 50px 0

		&__list
			list-style none

			li:nth-of-type(2n-1)
				background #fafafa

			> li
				font-weight 300


				+above('tablet')
					padding 100px 0

				img
					display block

			h2
				font-size 20px
				color #00568b
				font-weight bold

			h3
				font-size 30px
				line-height 1.2
				margin 10px 0

		.code-example
			box-shadow rgba(0, 0, 0, 0.15) 0px 5px 15px
			border-radius 5px

		.col-lg
			flex .5

		.col-md
			flex .4

		.col-lg, .col-md
			+below('tablet')
				padding 30px 0 0
				text-align center

		.col-center
			text-align center
			width 100%

		&__icon
			font-size 100px
			display inline-block
			color orange

		&__ecossystem
			display flex
			justify-content center
			align-items flex-end
			margin 50px 0
			list-style none
			flex-wrap wrap
			gap 30px

			li
				margin 0 20px
				font-size 100px
				display flex
				align-items center

				*
					font-weight bold
					color #888

				img
					max-width 150px

</style>
