---
import Container from 'shared/_components/container/index.astro'
import Iframe from 'shared/_components/iframe/index.astro'
---

<ul class="space-y-20 md:space-y-52">
	<li class="bg-[#fafafa] py-10">
		<section class="text-center">
			<span class="text-[orange] text-8xl font-thin block my-10">⚡️</span>
			<h2 class="text-4xl font-regular">Tailored for <br />SSG, SSR and SPA</h2>
			<p class="font-light text-gray-500 my-5">
				Build Fast Web Applications<br />
				No Node.js locking. Compatible with any <strong>Server Side Rendering</strong> stack.					
			</p>
		</section>
		<Container>
			<ul class="grid grid-cols-2 md:grid-cols-3 gap-5 items-center max-w-[600px] mx-auto">
				<li>
					<img data-src="https://www.ibm.com/content/dam/adobe-cms/instana/media_logo/dotnetCore.png/_jcr_content/renditions/cq5dam.web.1280.1280.png" alt="C#" />
				</li>
				<li class="flex">
					<img data-src="https://laravel.com/img/logomark.min.svg" class="mr-5" />
					<img data-src="https://laravel.com/img/logotype.min.svg" alt="Laravel" />
				</li>
				<li>
					<img data-src="https://s.w.org/style/images/about/WordPress-logotype-alternative.png" alt="Wordpress" />
				</li>
				<li>
					<img data-src="https://nodejs.org/static/logos/nodejsDark.svg" alt="Node.js" />
				</li>
				<li>
					<img data-src="https://download.logo.wine/logo/Ruby_on_Rails/Ruby_on_Rails-Logo.wine.png" alt="Ruby on Rails" />
				</li>
				<li>
					<img data-src="https://astro.build/assets/press/astro-logo-dark.svg" alt="Astro" />
				</li>
			</ul>
		</Container>
	</li>
	<li>
		<Container class="md:flex justify-between">
			<section class="md:w-[50%]">
				<span class="text-[orange] text-9xl font-thin block my-5">ƛ</span>
				<h2 class="text-4xl font-regular">Function Oriented</h2>
				<p class="font-light text-gray-500 my-5">
					Functional, but in the Javascript way.<br />
					Use the best of the Javascript Functional Features.
				</p>
			</section>
			<section class="md:w-[50%]">
				<img data-src="/counter.png" alt="A Counter Code Show"  />
			</section>
		</Container>
	</li>
	<li>
		<Container class="flex flex-col-reverse md:flex-row justify-between">
			<section class="md:w-[50%]">
				<img data-src="https://res.cloudinary.com/wedding-website/image/upload/v1596766231/islands-architecture-1.png" alt="Island Architecture" />
			</section>
			<section class="md:w-[30%]">
				<span class="text-[orange] text-9xl font-thin my-5 block">🏝</span>
				<h2 class="text-4xl font-regular">Island Architecture</h2>
				<p class="font-light text-gray-500 my-5">
					Build your components logic for a specific part of your app.<br /> Less code, less bundle.
				</p>
				<p>
					<a class="text-blue-400 underline" href="https://jasonformat.com/islands-architecture/" target="_blank">Learn more about it</a>
				</p>
			</section>
		</Container>
	</li>
	<li>
		<Container>
			<section class="text-center">
				<img class="w-28 inline-block mb-8" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/600px-JavaScript-logo.png" alt="Javascript Logo" />
				<h2 class="text-4xl font-regular">Javascript <br />Ecossystem Compatible</h2>
				<p class="font-light text-gray-500 my-5">
					Integrate your Application with any other <br />
					Javascript Library easily.
				</p>
			</section>
			<Iframe title="Code Show" class="w-full max-w-[1000px] h-[600px] my-10 m-auto" src="https://stackblitz.com/edit/jails-chartjs?embed=1&file=app-chart.ts&theme=light"></Iframe>
		</Container>
	</li>
</ul>