---
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer'
import Header from 'shared/_components/header/index.astro'
import Footer from 'shared/_components/footer/index.astro'
---
<html lang="en">

	<head>

		<title>Jails | An Elegant and Minimalistic Javascript Application Library</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Jails is a component library to add javascript behavior to Web Apps as close as possible to vanilla" />
		<link rel="icon" type="image/svg+xml" href="//jails-org.github.io/images/logo.svg" />

		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap"></GoogleFontsOptimizer>

		<style lang="styl" is:global>
			@require '../ui-system'
			body
				background-color #0f172a
		</style>

		<script>
			import main from 'shared/main'
			main()
		</script>
	</head>
	<body>
		<Header />
        <slot />
		<Footer />
		<!-- Google tag (gtag.js) -->
		<script is:inline data-name="analytics" type="text/html" src="https://www.googletagmanager.com/gtag/js?id=G-621623ZSE9">
			window.dataLayer = window.dataLayer || []
			function gtag(){dataLayer.push(arguments)}
			gtag('js', new Date())
			gtag('config', 'G-621623ZSE9')
		</script>
	</body>
</html>
