---
import GoogleFonts from 'shared/_components/google-fonts/index.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<title>Jails | An Elegant and Minimalistic Javascript Application Library</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.svg" />
		<GoogleFonts family={['Roboto:300,400,700']} />
		<slot name="head" />
	</head>
	<body class="bg-[url(/bg-4.png)] bg-[250px_auto] md:bg-[600px_auto] bg-no-repeat">
		<x-application id="site">
            <slot name="content" />
		</x-application>
		<slot name="footer" />
		<script is:inline data-name="analytics" type="text/third-party">
			console.log('Third Party script body executed')
		</script>
	</body>
</html>

